body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 0 10px; /* Add horizontal padding to .center */
  box-sizing: border-box; /* Ensure padding doesn't increase container width */
}

.large-input {
  width: 80%;
  max-width: 100%; /* Allow .large-input to adapt to the container width */
  height: 60px;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.highlighted-mention {
  background-color: #007BFF;
  color: #fff;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .large-input {
    width: 100%; 
    max-width: none; 
  }
}
